<div class="section-wrapper about-container"><div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
<br/><h1 class="text-center">Hey there, Gramps! <i class="fa fa-internet-explorer"></i></h1><br/>
<p>It looks like you're using an older browser that we <u>no longer support</u>.</p>
<br/>
<p>The vendor of your current browser has indicated that it has reached its end-of-life stage, and is being <a href="https://www.microsoft.com/en-us/WindowsForBusiness/End-of-IE-support">de-supported</a>.</p>
<br/>
<p>Your current browser may represent a security risk to you and your organization. We would like to encourage you to invest the time to pick up a secure, performant, modern, evergreen browser such as Google's <a href="https://www.google.com/chrome/browser/">Chrome</a>.</p>
<br/>
<p>You can continue to AlphaSimLab using the navigation menu above, but some features may render incorrectly, or may not function as expected.</p>
</div>
<div class="col-md-3"></div>
</div></div>