<div ng-controller="ContactCtrl" class="section-wrapper about-container">
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<section id="contact">
			<h1 class="about-header">Contact</h1>
			<p>Want to reach us? <br/>
			Questions? Comments? Suggestions? <br/>
			We'd love to hear from you. [<a href="mailto:info@alphasimlab.com" target="_top">Get in touch <i class="fa fa-envelope"></i></a>]</p>
			<br/><br/><br/>
		</section>
	</div>
	<div class="col-md-3"></div>
</div> 
</div>