<div class="section-wrapper about-container"><div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
<br/><h1 class="text-center">Privacy Policy</h1><br/>
<p>This privacy policy discloses the privacy practices for <a href="www.alphasimlab.com">www.alphasimlab.com</a>. This privacy policy applies solely to information collected by this web site. </p>
<h2 class="about-header">Ownership of data</h2>
<p>We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email, session activities, or other contact from you.</p>
<h2 class="about-header">How we use your information</h2>
<p>We will use your information to respond to you, regarding the reason you contacted us. We will not share your information in a personally identifiable form with any third party outside of our organization or partners.</p>
<br/>
<p>AlphaSimLab employs Google Analytics to help analyze how visitors navigate this site. Google Analytics uses cookies, which are small text files placed on your computer, to collect standard Internet log information and visitor behavior information in an anonymous form.</p>
<br/>
<p>Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.</p>
<h2 class="about-header">Your access to and control over information </h2>
<p>You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address given on our website: info@alphasimlab.com</p>
<br/>
<p>You may:</p>
<ul>
   <li>- See what data we have about you, if any.
   <li>- Change/correct any data we have about you.
   <li>- Have us delete any data we have about you.
   <li>- Express any concern you have about our use of your data.
</ul>
<h2 class="about-header">Our commitment to security</h2>
We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.
<h2 class="about-header">Third party vendors</h2>
<p>Third party vendors, including Google, use cookies to serve ads based on your prior visits to this and other websites.</p><br/>
<p>Google's use of the DoubleClick cookie enables it and its partners to serve ads to you based on your visit to this site and/or other sites on the Internet.</p><br/>
<p>You may opt out of the use of the DoubleClick cookie for interest-based advertising by visiting <a href="http://www.google.com/ads/preferences/">Ads Settings</a>.</p>
<h2 class="about-header">Updates</h2>
Our Privacy Policy may change from time to time without notice. All updates to the Privacy Policy will be posted on this page.
</div>
<div class="col-md-3"></div>
</div></div>